<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Select Category</ion-label>
      <ion-select [(ngModel)]="selectedCategory" (ionChange)="onCategorySelect()" name="selectedCategory">
        <ion-option *ngFor="let category of categories" [value]="category">{{category}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-card *ngFor="let post of posts">
    <ion-card-header>
      Domain : {{post.data.domain}}
    </ion-card-header>
    <ion-item>
      <img src="{{post.data.preview.images[0].source.url}}">
    </ion-item>
    <h4 padding>{{post.data.title}}</h4>
    <ion-buttons end>
      <button ion-button strong color="dark" outline small (click)="onClickView(post)"> <ion-icon name="ios-eye"></ion-icon>View Post</button>
    </ion-buttons>
  </ion-card>
</ion-content>